[submodule "sub-1"]
	path = sub-1
	url = https://github.com/jason-squidbooks/sub-1.git
[submodule "sub-2"]
	path = sub-2
	url = https://github.com/jason-squidbooks/sub-2.git
[submodule "sub-bitbucket"]
	path = sub-bitbucket
	url = https://jasonkinney768@bitbucket.org/jasonkinney768/sub-bitbucket.git
